
.thumbnail{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.member{
    background-color: rgba(0, 0, 255, 0.623);
    padding: 20px 40px;
    border-radius: 15px;
}
.member-info{
    text-align: left;
    color: whitesmoke;
}
.select-btn{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #fff;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}